{% extends 'base.html.twig' %}

{% block title %}Je le connecte{% endblock %}

{% block body %}

    <section>
        <div class="retour">
            <a href="{{path('dejauncompte')}}"><i class="fas fa-reply"></i></a>
        </div>


            <h1>M'inscrire</h1>
        
            <div class="formCompte">
            {{ form_start(registrationForm) }}
            <div class="erreurRegister">
                                {{ form_errors(registrationForm.username) }}
                                {{ form_errors(registrationForm.password) }}
                                {{ form_errors(registrationForm.verificationPassword) }}
           
            </div>




            <div class="formG">
                    {{ form_label(registrationForm.username, 'Identifiant') }}
                    {{ form_widget(registrationForm.username) }}
            </div>
            <div class="formG">
                    {{ form_label(registrationForm.password, 'Mot de passe ') }}
                    {{ form_widget(registrationForm.password) }}
      
            </div>
            <div class="formG">
                    {{ form_label(registrationForm.verificationPassword, 'Verification de mot de passe ') }}
                    {{ form_widget(registrationForm.verificationPassword) }}            
            </div>
            <div class="formGterme">
            {{ form_row(registrationForm.agreeTerms , {label: "J'aime les Cupcakes "}) }}
            </div>

            <div class="formG">
            <button type="submit" class="btn"> S'inscrire</button>
        {{ form_end(registrationForm) }}
            </div>



        </div>

    </section>
{% endblock %}
