{% extends 'base.html.twig' %}

{% block title %}Je le connecte{% endblock %}

{% block body %}

    <section>
        <div class="retour">
            <a href="{{path('dejauncompte')}}"><i class="fas fa-reply"></i></a>
        </div>


            <h1>M'inscrire</h1>
        
            <div class="formCompte">
            {{ form_start(registrationForm) }}

            <div class="formG">
                    {{ form_row(registrationForm.username, {label: 'Identifiant '}) }}
                    
            </div>
            <div class="formG">
            {{ form_row(registrationForm.plainPassword, {label: 'Mot de passe '}) }}
            </div>

            <div class="formG">
            {{ form_row(registrationForm.agreeTerms , {label: "J'accepte les termes "}) }}
            </div>

            <div class="formG">
            <button type="submit" class="btn"> S'inscrire</button>
        {{ form_end(registrationForm) }}
            </div>

        </div>

    </section>
{% endblock %}
