<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbarDesktop">
        <div class="nom">
            <a href="{{path('accueil')}}"> CupCake Addict</a>
        </div>
            <div class="logo">
                <a href="{{path('accueil')}}"><img src="{{ asset('image/Logo.jpg') }}" alt="CupaCake_Addict"></a>
            </div>
            <div class="navbar">
                <div class="bgRose">
                    <ul>

                {% if not app.user %} 
                        <li><a href="{{path('cupcakes')}}"> CupCakes</a></li>
                        <li><a href="{{path('dejauncompte')}}"> Se connecter </a></li>
                {% else %}
                        <li><a href="{{path('cupcakes')}}"> CupCakes |</a></li>                
                        <li><a href="{{path('user')}}"> Compte | </a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{path('admin')}}"> Admin | </a></li>
                        {% endif %}

                        <li><a href="{{path('app_logout')}}"> Déconnexion </a></li>
                {% endif %}

                    </ul>                
                </div>

            </div>
        </nav>

        <div class="enteteMobile">
            <div class="logoMobile">
                <a href="{{path('accueil')}}"><img src="{{ asset('image/Logo.jpg') }}" alt="CupaCake_Addict"></a>
            </div>
            <div class="nomMobile">
                <p>CupCake Addict</p>
            </div>
        </div>
        <nav class="navbarMobile">
                <div class="bgRoseMobile">
                    <ul>
                        <li><a href="{{path('cupcakes')}}"><i class="fas fa-chess-queen"></i></a></li>
                        {% if not app.user %}
                        <li><a href="{{path('dejauncompte')}}"><i class="fas fa-user"></i></a></li>
                        {% else %}
                        <li><a href="{{path('user')}}"><i class="fas fa-user"></i></a></li>
                        <li><a href="{{path('app_logout')}}"><i class="fas fa-sign-out-alt"></i></a></li>
                        {% endif %}
                    </ul>                
                </div>
        </nav>


        {% block body %}{% endblock %}
    </body>
</html>
