{% extends 'base.html.twig' %}

{% block title %}Les CupCakes{% endblock %}
    {% block titre %} {% endblock %}
{% block body %}
    <section>
        <div class="retour">
            <a href="{{path('accueil')}}"><i class="fas fa-reply"></i></a>
        </div>
        <h1><a href="{{path('cupcakes')}}"> Les Cupcakes</a></h1>



        <div class="filtre">
        <a href=""></a>
            {% for categorie in categories %}
        <a href="{{ path("filtreCategorie", {'categorie': categorie.id }) }}"> {{ categorie.nomCat }}</a>
            {% endfor %}
        </div>

        <div class="filtreMobile">
            <label for="categorie-select">Par Catégorie</label>
            <select name="categorie" class="categorie-select" onchange="location = this.value;">
                <option value="">--Filtrer par catégorie--</option>
                <option value="/lescupcakes">Toutes les catégories</option>
				<option value="/cup_cake/1">Anniversaire</option>
                <option value="/cup_cake/2">Halloween</option>
                <option value="/cup_cake/3">Baby Shower</option>
                <option value="/cup_cake/4">Saint Valentin</option>
                <option value="/cup_cake/5">Noël</option>
                <option value="/cup_cake/7">Pâques</option>
                <option value="/cup_cake/6">Divers</option>
            </select>
                    
        </div>

        <div class="container">
        
        {% for cupcake in cupcakes %}

        <a href="{{path('cupcake_id', {'id' : cupcake.id})}}">
            <div class="boxArticle">
                <div class="nomCupArticle">
                    <h3>{{ cupcake.nom }}</h3>
                </div>
                <div class="imgCupArticle">
                    <img src="{{ asset('image/' ~ cupcake.image) }}" alt="">
                </div>
            </div>
        </a>

        {% endfor %}
        </div>


    </section>
{% endblock %}
